# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/

# Testing
notebooks/

# Environments
.env
env/
.direnv
.envrc
env.bak/

# Jupyter
.ipynb_checkpoints
*.ipynb
