dataclasses_json==0.6.7
matplotlib==3.9.2
more_itertools==10.4.0
ontospy==2.1.1
openai==1.42.0
plotly==5.22.0
polars==1.5.0
pydantic==2.8.2
pydantic_core==2.23.0
python-dotenv==1.0.1
scikit_learn==1.5.1
seaborn==0.13.2
torch==2.3.1
tqdm==4.66.4
transformers==4.42.0.dev0
